<mat-toolbar color="primary">

  <a mat-button routerLink='/home'  routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink='/appointment' routerLinkActive='active'><span class="fa fa-info fa-lg"></span> Appointment</a>
  <a mat-button routerLink='/services' routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Services</a>
  <a mat-button routerLink='/about' routerLinkActive='active'><span class="fa fa-list fa-lg"></span> About</a>
  <a mat-button routerLink='/contactus' routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <span class="flex-spacer"></span>
</mat-toolbar>
