<div fxLayout="row wrap" class="main-container" fxLayoutAlign="center center">

  <mat-card *ngFor="let service of services" fxFlex="40%" fxFlex.lt-md="90%" class="my-card">
    <img mat-card-image src="{{service.image}}" height="450">
    <mat-card-title>
      {{service.name}}
    </mat-card-title>
    <mat-card-content>
      <p>
        {{service.description}}
      </p>
      <br>
      <h4>Estimated price: </h4>
      <div>
        {{service.priceStimated}}
      </div>
    </mat-card-content>

  </mat-card>
</div>
