<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">



  <div fxFlex  class="main-container">
    <div fxLayout="column" >
      <div>
        <h3>About Us</h3>
        <hr>
      </div>
        <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" >
          <div>
          <h3>Best mechanics from your community</h3>
          <p>On average our mechanics have over ten years of experience and most are master technicians with ASE Certifications.

            We extensively screen all of our mechanics with background, criminal, and reference checks.

            On each mechanic’s profile page, you’ll see a full list of all their certifications, years of experience, job skills, and feedback from real customers. We constantly monitor the performance of our mechanics to make sure they’ll provide you with professional and courteous service.

            At YourMechanic, you can trust the people who are working on your car.</p>
        </div>
        <div>
          <img src="../../assets/images/workers.png" height="320">
        </div>
      </div>
      <div>
        <p>
          We provide our services for all makes and models but we are specialists in prestige vehicles such as Jaguars, Land Rovers, BMW’s and Mercedes Benz. Due to our experience and quality service we
           have become a first choice alternative to expensive dealer garages. We are certified by the RMI (Retail Motor Industry), members of ATRA and the government Trust My Garage scheme, so you can be sure
            that we provide a quality service at all times. We invest heavily in the latest diagnostics equipment from Autologic, Launch, Bosch, VAG Group and Snap On diagnostics tools, these tools allows us to find a
             fault and the correct repair method with the minimum of fuss.
        </p>
      </div>

    </div>
  </div>



</div>
