::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
 white-space: pre-wrap;
}

img {
  border-radius: 50%;
}

.main-container{
  width: 70%;
  margin: auto;
  text-align: justify
}
