<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Make an appointment</h3>
        <hr>
    </div>
  </div>


  <mat-card class="form-size" >
    <div fxFlex fxFlexOffset="20px" class="form-size" [@expand] >
      <h3>Pick a date</h3>
      <form novalidate #fform="ngForm" (ngSubmit)="onSubmit()" >
        <p>
          <mat-form-field class="half-width">
            <input matInput  placeholder="Name" type="text" required value="{{name}}">
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput  placeholder="Email" type="text" required value="{{email}}">
          </mat-form-field>
        </p>

        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput type="datetime-local" placeholder="start date" value="{{date}}" >
        </mat-form-field>

        <p>
          <mat-form-field class="full-width">
            <input matInput  placeholder="Describe your problem" type="text" required value="{{problem}}">
          </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white"(click)="openSnackBar('Appointment received','')">Submit</button>
      </form>
    </div>
  </mat-card>


  </div>
