.text{
  width: 80%;
}

.image{
  background-image:url(../../assets/images/car.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 120px;
  padding-top:120px;
  width: 100%;
}
.image-content{
  width: 40%;
}
