<div class="container"
     fxLayout="column"
     fxLayoutAlign=" center"
     >

  <div class="image">
    <p style = "text-align: center; color:#0d0083; font-size: 63px;">
      Your Favorite Workshop
  </p>
  </div>
  <div fxLayout="row">
    <div class="text">
    <h4>Auto Workshop is conveniently located just off Northfields Avenue in Ealing.</h4>
    <p>As an independent garage established in 1978, Auto Workshop has built up long-standing relationships with many of its customers, through its focus on customer care, professional expertise and standard and quality of work.</p >
    <p>Auto Workshop is fully equipped with the most advanced diagnostic equipment and tools and has access to the most up to date manufacturers’ technical data which enables our workshop to offer dealership level diagnostic services, vehicle servicing, electrical and mechanical repairs and MOT testing.</p>
    <p>Our highly skilled technicians are fully qualified to work on all makes and models and attend to all vehicles with exceptional expertise, however we provide specialist care for Audi, Volkswagen, Seat and Skoda.</p>
    <p>The quality of our work is paramount, so we only use genuine OE parts or parts of equivalent quality, as well as top-branded lubricants and motor oil when servicing your vehicle.</p>
    <p>We do our utmost to provide our customers with a first class, efficient and friendly service, from investigating and diagnosing faults through to providing sound advice on all technical and mechanical problems. At Auto Workshop we offer real value for money and a cost-effective alternative to the franchised main dealers.</p>
    </div>
    <div>
      <img src="../../assets/images/car2.jpg" width="100%">
    </div>
  </div>
</div>
